.page-container{

    display: flex;
    justify-content: center;

}                                                          


.page-container > .content-wrapper {
    width: 1000px;

}.page-container > .content-wrapper > #coding-on-specs {
    width: 400px;
    margin: 10px;
    float: left;
    border: 10px blue;
    border-radius: 10px;
}

.page-container > .content-wrapper p {

    letter-spacing: 1px;
    line-height: 30px;
}